
body {
  position: fixed;
  
  margin-left: 35%;
  cursor: url(./images/cursor1.png),auto;
 
}

a {
  cursor: url(./images/click1.1.png),auto;
}

.balls {
  cursor: url(./images/click1.1.png),auto;
}


video {
 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2; 
  filter: brightness(0.3);
  
}


.actions {
     margin: lem auto;
     text-align:center;
   }
   
   .arbol-container{
   max-width: 620px;
   width: 95%;
   margin:lem auto;
   position: relative;
   }
   
   .probando{
   
   position: relative;
   z-index: 2;
   }
   .arbol{
   width: 105%;
   filter: brightness(0.6);
   position: relative;
   }
   
   
   .balls img {
   position: absolute;
   /*width: 15%;*/
   height: auto;
   /*
   animation-name: light1; s
   animation-duration: 0.5s;*/
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
   }
   
   
   .estrella{
    position: absolute;
   width: 100%;
   height: auto;
   filter: brightness(0.5);
   animation-name: light4; 
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
   z-index: 1;
   }
   .brilla{
    position: absolute;
    width: 24.5%;
    left: 39.6%;
    margin-top:1%;
    filter: brightness(0.5);
   }



   .bola-ba1{
    width: 15%;
    left:21%;
    bottom:25%;
   }

   .bola-ba2{
    width: 15%;
    left:46%;
    bottom: 25%;
   }

   .bola-ba3{
    width: 15%;
    right:14%;
    bottom:25.5%;
   }
  
   .bola-ba4{
    width: 15%;
    left:33%;
    bottom:39%;
   }
  

   .bola-ba5{
    width: 15%;
    right:27%;
    top:47%;
   }
    
   .bola-ba6{
    width: 15%;
    right:50%;
    top:33%;
   }

   .bola-ba7{
    width: 15%;
    right: 32%;
    top: 30%;
   }
  
  
   .regalo{
    width: 30%;
    left: 15%;
    bottom:-2%;
   }
   .regalo2{
    width: 30%;
    left: 60%;
    bottom:-3%;
   }
   


   @keyframes light1 {
    from{  /*estado inicial*/
     filter: brightness(1);
    }
    to{  /*estado final*/
     filter:brightness(1.8) drop-shadow(0 0 20px rgb(247, 0, 227));
    }
   }

   @keyframes light2 {
    0%,
    35%{
     filter: brightness(1.8) drop-shadow(0 0 20px rgb(255, 51, 0));
    }
    45%,
    100%
    {
    filter: brightness(1);
    }
   }


   @keyframes light3 {
    0%,
    25%{
      filter: brightness(1.8) drop-shadow(0 0 20px rgb (9, 173, 239 ));
    }
    
    25%,
    50%{
      filter: brightness(1);
    }
    
    50%,
    75%{
      filter: brightness(1.8) drop-shadow(0 0 40px rgb(205, 205, 212));
    }
    75%, 
    100%{
      filter: brightness(1);
    }
    
   }

   @keyframes light4 {
    from{  /*estado inicial*/
     filter: brightness(1);
    }
    to{  /*estado final*/
     filter:brightness(1.8) drop-shadow(0 0 40px rgba(245, 241, 16, 0));
    }
   }


   @keyframes light5 {
    0%,
    35%{
     filter: brightness(1) drop-shadow(0 0 40px rgba(247, 210, 0));
    }
    45%,
    100%
    {
    filter: brightness(1.8);
    }
   }

   @keyframes light6 {
    0%,
    25%{
      filter: brightness(1.8) drop-shadow(0 0 20px rgb (9, 173, 239 ));
    }
    
    25%,
    50%{
      filter: brightness(1);
    }
    
    50%,
    75%{
      filter: brightness(1.8) drop-shadow(0 0 20px rgb(247, 210, 212));
    }
    75%, 
    100%{
      filter: brightness(1);
    }
    
   }


   @keyframes light7 {
    0%,
    35%{
     filter: brightness(1.8) drop-shadow(0 0 20px rgb(36, 54, 219));
    }
    45%,
    100%
    {
    filter: brightness(1);
    }
   }


   @keyframes light8 {
    0%,
    25%{
      filter: brightness(1.8) drop-shadow(0 0 20px rgb (9, 173, 239 ));
    }
    
    25%,
    50%{
      filter: brightness(1);
    }
    
    50%,
    75%{
      filter: brightness(1.8) drop-shadow(0 0 20px rgb(252, 9, 219));
    }
    75%, 
    100%{
      filter: brightness(1);
    }
    
   }

/****************************************************LETRAS********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
  
  
  .neons {
    float: right;
    margin-right: 100%;
    margin-top: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand';
  }
  
  .neons h3 {
    font-size: 55px;
    text-align: center;
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 4s ease-in-out infinite alternate;
    filter: brightness(0.5);
  }
  
  @keyframes glow {
    from {
      color: rgb(199, 190, 190);
      text-shadow: 0 0 10px #29788b, 0 0 10px #29788b, 0 0 20px #29788b, 0 0 30px #29788b, 0 0 40px #29788b, 0 0 50px #29788b, 0 0 60px #29788b, 0 0 75px #15aed4;
    }
    to {
      color: rgb(247, 242, 242);
      text-shadow: 0 0 10px #29788b, 0 0 20px #29788b, 0 0 30px #29788b, 0 0 40px #29788b, 0 0 50px #29788b, 0 0 60px #29788b, 0 0 70px #29788b, 0 1 80px #15aed4;
    }
  }



  .fijando{
    margin-left: -100%;
  }

  span{
    font-size: 80px;
     display: flex;
     text-align: center;
    align-items: center;
    font-family: 'Shrikhand';
    display: inline-block;
    animation: salto 5s;
    -webkit-animation: salto 8s;
    -moz-animation: salto 4s;
    animation-timing-function: ease-in;/*animation-timing-function: ease-in;*/    
    transform: translatey(0);
  }

  span:nth-child(1){
    animation-delay: 0;
  }
  span:nth-child(2){
    animation-delay: 0.2s;
  }
  span:nth-child(3){
    animation-delay: 0.4s;
  }
  span:nth-child(4){
    animation-delay: 0.6s;
  }
  span:nth-child(5){
    animation-delay: 0.8s;
  }
  span:nth-child(6){
    animation-delay: 0.2s;
  }
  span:nth-child(7){
    animation-delay: 0.4s;
  }
  span:nth-child(8){
    animation-delay: 0.6s;
  }
  span:nth-child(9){
    animation-delay: 0.8s;
  }
  span:nth-child(10){
    animation-delay: 0.2s;
  }
  span:nth-child(11){
    animation-delay: 0.4s;
  }
  span:nth-child(12){
    animation-delay: 0.6s;
  }
  span:nth-child(13){
    animation-delay: 0.8s;
  }
  span:nth-child(14){
    animation-delay: 0.2s;
  }
  span:nth-child(15){
    animation-delay: 0.4s;
  }
  @keyframes salto{
   0%, 45%{
    transform: translatey(0);
    filter: brightness(1.8) drop-shadow(0 0 20px rgb(225, 230, 233));
   }

   45%, 55%{
    transform: translatey(-10px);
   }

   55%, 70%{
    transform: translatey(100px);
   }

   70%, 100%{
    transform: translatey(105px);
    color: rgb(199, 190, 190);
    text-shadow: 0 0 10px #4ac5e4, 0 0 20px #4ac5e4, 0 0 30px #4ac5e4, 0 0 40px #4ac5e4, 0 0 50px #4ac5e4, 0 0 60px #4ac5e4, 0 0 70px #4ac5e4, 0 1 80px #4ac5e4;
    filter: brightness(1.8) drop-shadow(0 0 20px rgb(41, 159, 238));
   }



  }



/****************************************************LETRAS********************************************************/


